<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/signin.css">
  <title>Document</title>
</head>
<body>
  
  <div class="login-box">
    <h2>Sign in to your Account</h2>
    
    <form method="POST" action="/auth/signin">
    
    
        <div class="user-box">
          <input type="email" name="email" required="">
          <label>Emai</label>
        </div>
    
    
    <br>
    
        <div class="user-box">
          <input type="password" name="password" required="">
          <label>Password</label>
        </div>
    <br>
        
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <input type="submit" value="Submit">
        </a>
<br>
<br>
        <div class="signup">Don't have an account?  <br> <a href="/auth/signup">Sign Up</a> </div>
    </form>
    <br>
    </div>
</div>
</body>
</html>

