<h2>Ceate New Account Here </h2>

<form method="POST" action="/auth/signup">
    <div>
        <label>First Name</label>
        <input type="text" name="firstName">
    </div>
<br>
    <div>
        <label>Last Name</label>
        <input type="text" name="lastName">
    </div>
<br>
    <div>
        <label>Email Address</Address></label>
        <input type="email" name="email">
    </div>
<br>
    <div>
        <label>Password</Address></label>
        <input type="password" name="password">
    </div>
<br>
    <input type="submit" value="Submit">
</form>
<br>