<div class="auth">
<h2>Sign in to your Account</h2>

<form method="POST" action="/auth/signin">
    <div>
        <label>Email Address</Address></label>
        <input type="email" name="email">
    </div>
<br>
    <div>
        <label>Password</Address></label>
        <input type="password" name="password">
    </div>
<br>
    <input type="submit" value="Submit">
    
</form>
<br>
</div>