<!-- views/profile.ejs -->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../CSS/profile.css">
  <title>Profile</title>
</head>
<body>
  <div class="profile-box">
  <h2>Change Password</h2>
  
  <form method="POST" action="/profile/edit?id=<%= currentUser._id %>" >




    <div class="user-box">

      <input type="password" name="newPassword">
      <label>New Password:</label>
      

    </div>

<div class="user-box">
  <input type="password" name="confirmNewPassword">
  <label>Confirm New Password:</label>
  

    </div>
    <br>
        
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button type="submit">Update</button>
    </a>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <button href="/profile/view">Back</button>
    </a>

   <br>


  </form>



</div>
</body>
</html>
