<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVORE</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
<div><img src="https://i.ibb.co/SnymB0v/Travel-Explore-the-World-Banner-Landscape.png" alt="Travel-Explore-the-World-Banner-Landscape">></div>
    <nav>
        <h3>TRAVORE</h3>
        <% if (currentUser) {%>
            <div class="co">
            <a href="/auth/logout" class="btn">Log Out</a>
            <br>
            <%= currentUser.firstName %>
        <% } else {%>
            <a href="/auth/signup" class="btn">Sign Up</a>
            <a href="/auth/signin" class="btn">Sign In</a>
            </div>
        <% } %>
    
    </nav>
    </nav>   <h1>
        We Welcome Every One 
        <div class="text-container">
            <span style="--i: 0">مرحباً</span>
            <span style="--i: 1">Hello</span>
            <span style="--i: 2">Ola</span>
            <span style="--i: 3">こ ん に ち は</span>
            <span style="--i: 4">خوش آمديد</span>
        </div>
    </h1>

    <%- body %>

  
   <h3> Footer</h3> 
</body>

</html>
