<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRAVORE</title>
    <link rel="stylesheet" href="../CSS/main.css">
</head>
<body>
<img src="https://i.ibb.co/sjWCrbJ/f-min.jpg" alt="">
    <nav>
        <h3>TRAVORE</h3>
        <% if (currentUser) {%>
            <a href="/auth/logout">Log Out</a>
            <br>
            <%= currentUser.firstName %>
        <% } else {%>
            <a href="/auth/signup">Sign Up</a>
            <a href="/auth/signin">Sign In</a>
        <% } %>
    </nav>
    </nav>

    <%- body %>

  
   <h3> Footer</h3> 
</body>

</html>