<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../CSS/main.css">
   <title>TRAVORE</title>
  </head>
  <body>
    <ul>
      <li><a class="" href="/">TRAVORE</a></li>
      <li><a class="" href="/">Home</a></li>
      <li><a href="/about/about">About</a></li>
      <li><a href="/booking/add">Booking Now</a></li>


      <% if (currentUser) {%>
        <li><a class="" href="/profile/view?id=<%=currentUser._id %>"><%= currentUser.firstName %></a></li>
       <li><a class="" href="/auth/logout">Log Out</a></li>
        <br>
       
    <% } else {%>
        <li><a class="" href="/auth/signup">Sign Up</a></li>
        <li><a class="" href="/auth/signin">Sign In</a></li>
    <% } %>


    </ul>
    

  

  <%- body %>

<div class="footer">
  <br>
  
  <p><strong>Contact : INFO@TRAVORE.COM</strong> </p>
</div>
</body>




  

</html>