h1{
  text-align: center;
}
.nav{
  margin: 0px 120px;
  color: white;
}
nav{
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
  height: 30px;
}
footer{
  text-align: center;
  color: white;
  background-color: rgb(0, 0, 0);
  padding-top: 10px;
  height: 30px;
  margin-top: 100px;
}
.about{
  text-align: center;
  /* height:450px; 
  width:1504px; */
}
.auth {
  padding-top: 30px;
  text-align: center;
}

.add{
  text-align: center;
}
.pack {
  text-align: center;
}
.prof {
  text-align: center;
}
.packages{
text-align: center;
  
}