<h2>TRAVORE</h2>


<!-- <div class="animated-title">
    <div class="text-top">
      <div>
        <span>Hey!!! It's me..</span>
        <span>u wanna booking??.</span>
      </div>
    </div>
    <div class="text-bottom">
      <div>Follow me</div> -->
    <!-- </div>
  </div> -->
<!--image sec-->
<div class="cont">

   
  
  
  <div class="item"><img class="Japan" src="https://i.ibb.co/h25kSxn/jpn.jpg" alt="jpn" alt="Travelj"></div>
  <div class="item"><img class="russia" src="https://i.ibb.co/r0bt1CQ/rsia.jpg" alt="rsia"></div>
  <div class="item"><img class="turkey" src="https://i.ibb.co/b51mCtM/tur.jpg" alt="tur"></div>
  <div class="item"><img class="nyc" src="https://i.ibb.co/bgQGc3m/nyc.jpg" alt="nyc"></div>



</div>
