<h2>TRAVORE</h2>


<div class="animated-title">
    <div class="text-top">
      <div>
        <span>Hey!!! It's me..</span>
        <span>u wanna booking??.</span>
      </div>
    </div>
    <div class="text-bottom">
      <div>Follow me</div>
    </div>
  </div>

  <div> <img class="Japan" src="https://serenaslenses.net/wp-content/uploads/2018/04/Japan-Travel-Guide.jpg" alt="."></div>