<div class="welc">
  <img src="https://images.unsplash.com/photo-1483004590101-e3dca99dac40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2091&q=80" alt="main" height="450px" width="1504px">
</div>

<div class="about">
<h2>About Travore</h2>
<p>Travore is a name that combines the words "travel" and "explore". <br> The website is about a travel agency that helps people to book their flights to explore new countries and adventures.</p>
</div>
<br><br>

<div>
  <a href="/about/japan"><img src="https://images.unsplash.com/photo-1528884089-4582fe06c516?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="japan"height="250px" width="370px"/></a>
  <a href="/about/russia"><img src="https://images.unsplash.com/photo-1547385124-3a363bde4ec8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80" alt="russia"height="250px" width="370px"/></a>
  <a href="/about/indonesia"><img src="https://images.unsplash.com/photo-1550583088-ffe97305e2c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="indonesia"height="250px" width="370px"/></a>
  <a href="/about/turkey"><img src="https://images.unsplash.com/photo-1589561454226-796a8aa89b05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1167&q=80" alt="turkey"height="250px" width="370px"/></a>
</div>