<div class="about">
    <h2>About Travore</h2>
    <p>Travore is a name that combines the words "travel" and "explore". <br> The website is about a travel agency that helps people to book their flights to explore new countries and adventures.</p>
</div>