

<div class="packages">
    <h3>Japan - Kyoto</h3>
    <p>From: SUN 1 Oct 2023&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at: 9:30am <br><br> To: FRI 20 Oct 2023&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at: 10:30pm </p>

    <a href="/packages/japan">Book Now</a>
</div>