<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Japan</title>
  <link rel="stylesheet" href="../CSS/japan.css">

</head>

  
<!-- partial:index.partial.html -->



    


<div class="carousel">
  
  <div class="carousel__nav">
    
   <span id="moveLeft" class="carousel__arrow">
        <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
    <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
</svg>
    </span>
    <span id="moveRight" class="carousel__arrow" >
      <svg class="carousel__icon"  width="24" height="24" viewBox="0 0 24 24">
  <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
</svg>    
    </span>
  </div>
  <div class="carousel-item carousel-item--1">
    <div class="carousel-item__image"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">Kyoto</h2>
      <h1 class="carousel-item__title">Japan</h1>
      <p class="carousel-item__description">Kyoto, the former imperial capital, is the most visited city in japan after Tokyo. It is traditional, spiritual, gastronomic and modern all at once, the city is an infinite source of fascination for those who explore it. Visiting Kyoto is an opportunity to discover every aspect of the cradle of the Japanese soul. An essential place to visit on your trip.</p>
      <a href="https://www.youtube.com/watch?v=3gX-umzVl9s"target="_blank" class="carousel-item__btn">Explore the tour</a>
        </div>
    </div>
  </div>
  <div class="carousel-item carousel-item--2">
    <div class="carousel-item__image"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">Package</h2>
      <h1 class="carousel-item__title">20 Days</h1>
      <p class="carousel-item__description"><strong>From</strong>  1 Oct 2023 at 9:30am <br>
        <strong>To</strong> 20 Oct 2023 10:30pm <br>
       <strong>The Package include :</strong><br> ticket - Hotel - 3 Meals - The tourist program .</p>
       <div class="packages">
        <!-- <h3>Japan - Kyoto</h3>
        <p>From: SUN 1 Oct 2023&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at: 9:30am <br><br> To: FRI 20 Oct 2023&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;at: 10:30pm </p>
        <h1>Weather Information</h1> -->

        <h1>Weather Information</h1>
      
        <% if (temp ) { %>
          <p>Tempature: <%= temp %>K</p>
          <p>Description: <%= description %></p>
          <p>Speed: <%= speed %></p>
          <p>Clouds: <%= all %></p>
      
          <!-- Add more weather data as needed -->
        <% } else { %>
          <p>No weather data available</p>
        <% } %>
        
    </div>
       <p> <strong>1000</strong>$</p>
     
       <a href="/packages/japan">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input type="submit" value="Book Now">
      </a>
        </div>
    </div>
  </div>
    <!-- <div class="carousel-item carousel-item--3">
    <div class="carousel-item__image"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">Tropical palms </h2>
      <h1 class="carousel-item__title">Palms</h1>
      <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      <a href="#" class="carousel-item__btn">Explore the palms</a>
        </div>
    </div> -->
  <!-- </div> -->
  
   <!-- <div class="carousel-item carousel-item--4">
    <div class="carousel-item__image"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">Beach </h2>
      <h1 class="carousel-item__title">The beach </h1>
      <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      <a href="#" class="carousel-item__btn">Explore the beach</a>
        </div>
    </div> 
  </div>-->
  
 <!-- <div class="carousel-item carousel-item--5">
    <div class="carousel-item__image"></div>
    <div class="carousel-item__info">
      <div class="carousel-item__container">
      <h2 class="carousel-item__subtitle">The white building </h2>
      <h1 class="carousel-item__title">White building</h1>
      <p class="carousel-item__description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      <a href="#" class="carousel-item__btn">Read the article</a>
        </div>
    </div> -->
  </div>
  
</div>

<!-- partial -->
  
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script>
  $(function(){
    $('.carousel-item').eq(0).addClass('active');
    var total = $('.carousel-item').length;
    var current = 0;
    $('#moveRight').on('click', function(){
      var next=current;
      current= current+1;
      setSlide(next, current);
    });
    $('#moveLeft').on('click', function(){
      var prev=current;
      current = current- 1;
      setSlide(prev, current);
    });
    function setSlide(prev, next){
      var slide= current;
      if(next>total-1){
       slide=0;
        current=0;
      }
      if(next<0){
        slide=total - 1;
        current=total - 1;
      }
             $('.carousel-item').eq(prev).removeClass('active');
             $('.carousel-item').eq(slide).addClass('active');
        setTimeout(function(){
  
        },800);
      
  
      
      console.log('current '+current);
      console.log('prev '+prev);
    }
  });
</script>


</body>
</html>

